*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.txt
wksp_fin.code-workspace
ARF/Theory_Sheets_Answers-ARF-Stringara.blg
ARF/Theory_Sheets_Answers-ARF-Stringara-blx.bib
ARF/Theory_Sheets_Answers-ARF-Stringara.bbl
ARF/Theory_Sheets_Answers-ARF-Stringara.run.xml
ARF/Theory_Sheets_Answers-ARF-Stringara.bcf
